inference_output
datasets/ebl_single/data
checkpoints/mask_rcnn.pth
data-coco-legacy
.venv
data
checkpoints
logs
work_dirs
.idea
*.pyc
checkpoints_legacy
data-recog
data-detec
mmdetection/data
mmdetection/data-det
mmdetection/data-rec