falcon>=3.0.1
falcon-auth
pymongo
pydash
requests
dictdiffer
jsonschema
attrs
sentry-sdk[falcon]
roman
waitress
lark-parser==0.11.2
marshmallow==3.19.0
inflect
tqdm
marshmallow-oneofschema==3.0.1
pycryptodomex
cryptography
pillow
git+https://github.com/ElectronicBabylonianLiterature/python-alignment.git
falcon-caching>=1.0.1
redis>=4.5.3
althaia>=3.14.1a2
cairosvg>=2.7.0
pyyaml==6.0.1
python-dateutil>=2.8.2
natsort>=8.4.0
ruff>=0.5.5